body{
    background: url("../public/img/mountain.png");
    background-repeat: no-repeat;
    background-size: cover;
    --misty-rose: #feddd3ff;
    --tea-rose-red: #fec6c8ff;
    --thistle: #cfb5d1ff;
    --cool-gray: #a59ec7ff;
    --eggplant: #43303bff;
    --raisin-black: #302a3aff;
    font-family: "Montserrat";
}

p{
    font-size: 1vh;
    letter-spacing: .2rem;
    margin-bottom: 0;
}

a,a:hover{
    text-decoration:none;
    color: #000;
}
h2{
    font-size: 100%;
}
h3{
    font-size: 100%;
}

h4{
    font-size: 80%;
}
span{
    font-size: 60%;
}

.wrapper{
    width: 65vw;
    height: 79vh;
    margin: 5rem auto;
    background-color: white;
}

img{
    height: 5vh;
}
.img-fluid{
    height: 100%;
}
#ventoux{
    height: 50%;
    width: 100%
}

#Mycard{
    height: 90%;
    width: 100%;
}
#topCard{
    width: 17vw;
    height: 50%;
}
#mainCard{
    height: 100%;
    width: 100%;
    margin: .7rem;
}



@media (max-width: 1100px) {
    .wrapper {
        width: 85vw;
      }
}

@media (max-width: 767px) or  (max-height:900px) {
    #Mycard{
        height: 15vh;
        margin-bottom: 2rem;
    }
    .card-body{
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #topCard .card-body{
        justify-content: space-between;
    }

    .img-fluid{
        height: 10vh;
        margin-bottom: 0 !important;
        margin-right: 1rem;
    }

    .img-fluid, h4, p{
        margin-bottom: 0 !important;
    }

    #inside{
        flex-direction: column;
    }
    p{
        font-size: 0.9vh;
        letter-spacing: .1rem;
        margin-left: 1.5rem;
    }
    #topCard {
        width: 36vw;
      }
}

@media (max-width: 530px) {
    p{
        font-size: 0.7vh;
    }
}